language: julia
os:
    - osx
    - linux
julia:
    - 0.3
    - 0.4
    - nightly
notifications:
    email: false
sudo: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.build("JSON"); Pkg.test("JSON"; coverage=true)';
    - julia -e 'using JSON' # loading after precompiled, but without DataStructures present
after_success:
    - julia -e 'cd(Pkg.dir("JSON")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())';
